.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main form {
  width: 400px;
}

.main label {
  color: var(--theme-color);
  font-weight: bold;
  width: 200px;
  float: left;
}

.main input {
  padding: 3px;
  font-size: 14px;
  font-weight: 600;
  width: 200px;
  border: rgb(188, 188, 188) solid 1px;
  border-radius: 5px;
}

.main input[type="submit"] {
  color: white;
  padding: 10px;
  border: 1px solid gray;
  background-color: var(--theme-color);
  border-radius: 5px;
  font: inherit;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
